#input-field{
    width: 320px;
    height: 50px;
    border-radius: 20px;
    font-size: 28px;

}
#add,#clear{
    width: 140px;
    height: 55px;
    border-radius: 20px;
    font-size: 28px;
}
body{
    background-color: rgba(147, 237, 192, 0.26);
    font-family: monospace;
    letter-spacing: 2px;
}
h1{
    font-size: 34px;
    text-decoration: underline  ;
    text-transform: bold;
    
}
#container li {
    width: 320px; ;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 24px;
    margin-top: 4px;
    list-style-type: none;
}
#container div{
    display: flex;
}
#container div button{
    width: 45px;
    height: 32px;
    margin: 0 4px;
    border-radius: 8px;
    margin-top: 4px;
    font-size: 18px;
}
button:hover{
    cursor: pointer;
    /* color: rgb(94, 223, 178); */
    background-color: rgb(153, 180, 171)
}
#container div input{
    width: 45px;
    height: 32px;
    margin: 0 4px;
    border-radius: 8px;
    margin-top: 4px;      
}
.checking {
    text-decoration: line-through;
}
.checking2 {
    text-decoration: none;
}